<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="Stylesheet"  href="css/Style.css">
</head>
<body>
    <h1>About Page run Successfully</h1>
    <script src ="js/ABC.js"></script>
</body>
</html>