<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Users</h1>
        <a href="/users/new">Add new User</a>
        <div class="card">
            <% for (let u of users) { %>
                <div class="student">
                    <h3><%= u.name %></h3>
                    <p>age: <%= u.age %></p>
                    <p>password:<%=u.password %></p>
                    <p>course: <%= u.course %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
