.container{
    display: flex;
    flex-wrap: wrap;

}
.card{
    border: 1px solid rgb(20, 20, 20);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(17, 122, 221);
}
